<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.coomicsapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".WelcomePage">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".EditDataActivityRm" />
        <activity android:name=".EditDataActivityTw" />
        <activity android:name=".MainActivity" />
        <activity android:name=".InsertOP" />
        <activity android:name=".InsertTW" />
        <activity android:name=".InsertRM" />
        <activity android:name=".SlidingOP" />
        <activity android:name=".SlidingTW" />
        <activity android:name=".SlidingRM" />
        <activity android:name=".OnePieceList" />
        <activity android:name=".TexWillerList" />
        <activity android:name=".RatManList" />
        <activity android:name=".EditDataActivity" />
    </application>

</manifest>